* {
    font-family: 'Source Sans Pro', sans-serif;
}

html,

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
}

h1 {
    background-color: red;
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Droid Sans';
    font-size: 4em;
}

h2 {
    color: darkslategray;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

#tabs {
    background-color: darkred;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#tabs .tab {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: 0.4s grid-template-columns, 0.4s background-color;
    overflow-x: hidden;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
}

#tabs svg {
    width: 2em;
    height: 2em;
    fill: currentColor;
}

#tabs span {
    padding-left: 0;
    font-size: 1em;
    display: block;
    width: min-content;
    max-width: 0;
    transition: 0.4s max-width, 0.4s padding-left;
    visibility: hidden;
}

#tabs .tab.selected,
#tabs .tab:hover {
    background-color: red;
    grid-template-columns: 1.15em max-content;
    height: 85%;
    font-family: 'Source Sans Pro', sans-serif;
}

#tabs .tab.selected span,
#tabs .tab:hover span {
    max-width: 10em;
    padding-left: 17px;
    visibility: visible;
}

#iframes {
    width: 100%;
    height: 100%;
    transition: 0.5s transform;
}

#iframes iframe {
    width: 100vw;
    height: 100%;
    border: none;
    outline: none;
    position: absolute;
    background-color: lightgray;
}

.mainheader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4%;
    width: 99%;
    background: white;
    text-align: center;
    font-family: 'Droid Sans';
    border-radius: 1rem;
}

#update {
    color: red;
    text-align: center;
    font-size: 30px;
}