html{ width: 100%; height: 100%; overflow: scroll; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }

body{
    padding: 0%;
    margin: 0%;
    overflow-y: hidden;
}

#table {
    margin-top: 50px;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    font-size: 25px;
  }

  #table, th, td {
      border: 5px solid darkred;
      border-collapse: collapse;
  }

#status {
    font-size: 30px;
    text-align: center;
}

#edit {
    text-align: center;
    margin: 20px;
}

#tab {
    display: none;
}

button {
    border-radius: 10px;
    background-color: red;
    border: none;
    font-size: 20px;
    color: white;
}

button:hover {
    background-color: rgb(200, 0, 0);
    cursor: pointer;
}

button:focus {outline:0;}

svg {
    transition: all .2s ease-in-out;
}

svg:hover {
    transform: scale(1.5);
}